<div class="search-container">

    <h1>RxJs Search and Data Combination</h1>
    <p>Guess my favorite fruit  🍅</p>
    <input type="text" name="input" id="input-field" #searchInput placeholder="Search fruit...">
    @if (loading) {
        <div id="spinner">
            <div class="spinner"></div>
          </div>
    }
    
    @if(error) {
        <p class="error">{{error}}</p>
    }
    
    @if (searchResults.length === 0) {
        <p>{{notFoundMsg}}</p>
    }

    @else {
        @for (item of searchResults; track $index) {
            <h1 >{{item}}</h1>
        }
    }
</div>
